// --- CLOCK ---
IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// --- RESET (Buton) ---
IO_LOC "rst_n" H11;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// --- SPI INTERFACE ---
IO_LOC "spi_sclk" C11;
IO_PORT "spi_sclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "spi_cs_n" D11;
IO_PORT "spi_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// SPI DATA (INPUT)
IO_LOC "spi_mosi" B11;
IO_PORT "spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// --- I2S INTERFACE ---
IO_LOC "i2s_sck" E11;
IO_PORT "i2s_sck" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "i2s_ws" L5;
IO_PORT "i2s_ws" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// I2S DATA (INPUT)
IO_LOC "i2s_sd" A11;
IO_PORT "i2s_sd" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// --- DAC OUTPUTS ---
IO_LOC "pdm_out_left" H5;
IO_PORT "pdm_out_left" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16 SLEW_RATE=FAST;

IO_LOC "pdm_out_right" G7;
IO_PORT "pdm_out_right" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16 SLEW_RATE=FAST;

// DEBUG OUTS
//IO_LOC "led_valid_activity" J5;
//IO_PORT "led_valid_activity" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

//IO_LOC "tdm_out_valid" A11;
//IO_PORT "tdm_out_valid" IO_TYPE=LVCMOS33 PULL_MODE=NONE;